<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title data-i18n-key="page-title">Network Games</title>

  <link rel="icon" href="data:,">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
        crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
  <style>
    .mw-25 {
      max-width: 25% !important;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row flex-column align-items-center" id="alerts"></div>

    <div class="row mt-3">
      <div class="col-12">
        <h1 data-i18n-key="index-title"></h1>
        <p data-i18n-key="welcome-1"></p>
        <div class="list-group" id="rooms">
<% rooms.forEach((room) => { %>
          <a class="list-group-item list-group-item-action
               d-flex justify-content-between align-items-center"
             href="<%= URL_PREFIX %>/r/<%= room.path %>"
             id="r-<%= room.path %>">
            <%= room.name %>
            <span class="badge badge-info badge-pill">
              <span class="num-nodes"><%= room.numNodes %></span>
              <span data-i18n-key="nodes"></span>
            </span>
            <button type="button" class="btn btn-dark">
              <i class="bi bi-toggles"></i>
            </button>
          </a>
<% }); %>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12">
        <h1 data-i18n-key="index-title-about"></h1>
        <p data-i18n-key="about"></p>
      </div>
      <div class="col-12 d-flex justify-content-between align-items-center">
        <img class="mw-25" src="<%= URL_PREFIX %>/img/NPlogo.png">
        <img class="mw-25" src="<%= URL_PREFIX %>/img/nvvw.jpg">
        <img class="mw-25" src="<%= URL_PREFIX %>/img/TUe.png">
      </div>
    </div>
  </div><!-- /.container -->

  <script src="<%= URL_PREFIX %>/js/i18n.js"></script>
  <script src="<%= URL_PREFIX %>/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
          crossorigin="anonymous"></script>
  <script>
    const URL_PREFIX = '/' + window.location.pathname.split('/')[1];


    function createAlert(message, type = 'danger', title = false) {
      if (title === false)  title = i18n.t('error') + '.'
      var $alert = $(`
        <div class="alert alert-${type} mt-3 alert-dismissible fade show" role="alert">
          <strong>${title}</strong> ${message}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      `);
      $('#alerts').append($alert);
      $alert.alert();
    }

    function handleAjaxError(req) {
      if (req.readyState === 4 && req.status === 400) {
        createAlert(req.getResponseHeader('message'));
      }
    }


    // let user enter a secret when clicking a button in the rooms list
    var $list = $('#rooms');
    $list.on('click', 'input', (event) => event.preventDefault());
    $list.on('click', 'button', function(event) {
      event.preventDefault();

      var $btn = $(this),
          roomURL = $btn.parent().attr('href'),
          $input = $(`<input type="text" class="form-control"
              name="secret" placeholder="${i18n.t('secret')}">`),
          $form = $(`<form method="post" action="${roomURL}"
              autocomplete="off" />`);
      if ($btn.data('error') === 'invalid_secret') {
        $input.addClass('is-invalid');
      }
      $btn.replaceWith($form.append($input));
      $input.on('keypress', (event) => {
        if (event.keyCode === 13) { // prevent enter key from activating
          event.preventDefault();   // the outer anchor, instead submit
          $form.submit();           // the form that the input is in
        }
      }).focus();
    });

<% if (search.has('error') && search.get('error') === 'invalid_secret' &&
            search.has('room')) { %>
    $('#r-<%= search.get('room') %> button')
      .data('error', '<%= search.get('error') %>')
      .click();
<% } %>

    // open a socket.io connection, update list on changes
    const socket = io({
      path: '/percolation-game/socket.io',
      transports: ['polling']
    });
    socket.on('connect', () => {
      socket.on('node-added', (room, node) => {
        var $span = $(`#r-${room} .num-nodes`);
        $span.text(parseInt($span.text(), 10) + 1);
      });

      socket.on('restart', (room, graph) => {
        $(`#r-${room} .num-nodes`).text(graph.nodes.length);
      });
    });
  </script>
</body>
